@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

/* NAVIGATION */

.nav-wrapper {
  background-color: rgba(255, 255, 255, 0.55);
  padding: 1rem;
  width: 100%;
  position: sticky;
  top: 0;
  box-shadow: 2px 4px 5px 4px #ccc;
  z-index: 1;
}

#icon {
  max-width: 50px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  padding: 0;
}

.nav-list li {
  display: inline;
  margin: 0;
  padding-top: 1.2rem;
}

.nav-list li a {
  text-decoration: none;
  color: #1b91d9;
  padding: 2rem;
}

/* EMPLOYEES */
.employees {
  margin-top: 1.5rem;
}

h2 {
  text-align: center;
}

.employee-list {
  list-style: none;
  padding-bottom: 10px;
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #edeeef;
  border-style: hidden;
  border-radius: 10px;
}

.employee-card {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-style: hidden;
  border-radius: 10px;
  max-width: 100%;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.user-img {
  border-radius: 50%;
  border: 2px solid #1b91db;
}

.employment-details {
  display: block;
  margin-left: 7px;
}

.interviews {
  margin-top: 1rem;
  width: 25%;
  list-style: none;
  background-color: #edeeef;
  /* border-style: hidden; */
  border-radius: 10px;
  padding: 1rem;
}

.list-item {
  background-color: white;
  margin: 1.5em;
  padding: 0.8rem;
  box-shadow: 3px 3px 5px 6px #ccc;
  border-style: hidden;
  border-radius: 5px;
}

.accept-btn {
  width: auto;
  background-color: #36bc65;
  border: none;
  color: white;
  padding: 0.5rem 0.9rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  margin: 1% 2% 0 0;
  border-radius: 7px;
}

.reject-btn {
  width: auto;
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  padding: 0.5rem 0.9rem;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  margin: 1% 2% 0 0;
  border-radius: 7px;
}

/* MODAL */
#employeeModal {
  text-align: center;
  width: 35%;
  border: 2px solid;
  border-radius: 10px;
  position: absolute;
  top: 40%;
  left: 40%;
  background-color: white;
}

.modal-header {
  border-radius: 7px 7px 0 0;
  background-color: #1b91db;
  color: white;
}

.modal-header-content {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
}

#confirmBtn {
  margin: 2em;
  width: auto;
  border: none;
  color: white;
  padding: 0.5em 0.9em;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  background-color: #36bc65;
}

.name-format {
  color: #1b91d9;
  font-weight: bold;
}

input {
  width: 50%;
  padding: 0.8rem 1.5rem;
  margin: 0.7rem 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#interviewModal {
  text-align: center;
  width: 35%;
  border: 2px solid;
  position: absolute;
  border-radius: 10px;
  top: 40%;
  left: 40%;
  background-color: white;
}

.btns {
  justify-content: center;
  align-content: center;
  margin: 1em;
}

.btn {
  justify-content: center;
  align-content: center;
  background-color: #1b91d9;
  width: auto;
  border: none;
  color: white;
  padding: 0.8em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  margin-right: 2%;
  border-radius: 7px;
}

.btn:hover {
  background: none;
  color: black;
  transition: 0.7s;
  border: 1px solid #1b91d9;
}
